/*针对这个网站的公共样式*/
a:hover{text-decoration: none}
.loginBgIcon{background-image:url('/images/loginBg.png')}
.ltIcon{background-image: url('/images/ltIcon.png')}

.wrap{width:960px;margin:0 auto}
/*主页及其登录前的body*/
.topBg{background: url("/images/loginTopBg.png") repeat-x 0 0}
/*登录后的body*/
.topBgAfter{background:url("/images/x_pinkLoveTopBg.png") repeat-x 0 0 #FAEAEA  ;}


.header{width:960px;height:55px;margin:0 auto;font:bold 14px/1.2 "Microsoft Yahei";color:#577797;padding-top:25px}
.logo{display:block;position:relative;width:140px;height:30px;padding-left:26px;background:url("/images/logo.png") no-repeat 0 0;color:#577797}
.pullTime{padding-left:30px;font-size:14px}
.domain{color:#FFF}
.beta{width:45px;text-align: center;line-height: 30px;height: 30px;position:absolute;right:0;top:0}
.logan{border-left: 1px solid #999;padding-left: 12px;font-size:16px;height:30px;line-height: 30px;font-weight: normal}
.nav li{float: left;height: 30px;line-height: 30px}
.nav a{display: block;padding: 0 15px;color:#577797}
.nav .span{width:1px;background-position: -375px -66px;backgrond-repeat:no-repeat;}
.search{width:124px;height:30px;line-height: 24px}
.search input{border:0;height: 24px;line-height: 24px;}
.searchText{width: 100px;height: 30px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.searchBtn{width: 24px;background-position: -131px -297px;backgrond-repeat:no-repeat;border-top-right-radius: 3px;border-bottom-right-radius: 3px}
.lar{height: 30px;line-height: 30px}
.lar a{color:#FFF;margin-left:10px}

.banner{width: 960px;margin:0 auto;position: relative}
.bannerLayout{position: relative;height: 320px;overflow: hidden}
.layoutList{position: absolute;}
.layoutList a{width: 960px;height: 320px;overflow:hidden;display: inline-block;_display:inline}
.backBtn,.nextBtn{position: absolute;top:133px;width: 51px;height: 51px;background-repeat: no-repeat;}
.backBtn{background-position: 0 -554px;left:-75px}
.nextBtn{background-position: -51px -554px;right:-75px}

.circle,.share{padding-top:30px;position:relative}
.leftside{width:680px;}
.leftside h3{background-repeat:no-repeat;height:27px;margin-bottom:20px}
.circle h3{background-position:0 -180px;}
.circle .more{position: absolute;right:0;top:30px;color:#118DD0}
.circle .more:hover{color:#EB6100}
.topCircleList li{height: 75px;padding:0 15px 15px 0;width:205px}
.topCircleList .face{height:75px;width:75px;border-radius:50%;}
.topCircleList dl{width:120px;padding:12px 0 0 10px}
.topCircleList .ch{font-size:14px}
.topCircleList .ch a{color:#118DD0}

.share{padding-top:20px;width:700px}
.share h3{background-position: 0 -266px}
.share .tab{position:absolute;right:0;top:20px;width:430px}
.tab li{float:left;padding-right:10px}
.tab li a{border-radius:2px;display:block;height:27px;line-height: 27px;padding:0 10px}
.tab a{color:#118DD0}
.tab a:hover{color:#eb6100}
.tab .current a{color:#FFF;background:#118DD0}
.excerpt{background:#FFF;border:1px solid #eaeaea;margin:0 20px 40px 0;overflow:hidden;width:328px;_margin-right:17px}
.excerpt .note{padding:20px 30px;height:80px;color:#999;display: block;line-height: 20px;background: #F2F2F2}
.excerpt .title{position: relative}
.excerpt h2{font-size:15px;height:60px;line-height: 60px;padding:0 15px;position: relative;font-weight: bold}
.excerpt h2 a{color:#118DD0}
.excerpt h2 a:hover{color:#eb6100}
.userImage{position:absolute;right:15px;top:15px}


.rightside{width:250px}
.talk{padding-top:30px}
.talk h3{margin-bottom:20px;background-position: 0 -209px;height:27px}
.talkForm{border:1px solid #91B9D4}
.talk textarea{border:0;height:40px;padding:5px;width:188px;resize:none}
.talk .formBtn{border:0;cursor: pointer;height:50px;width:50px;background-repeat: no-repeat;background-position: -117px -105px }
.talk .talkList li{margin:15px 0;padding-left:40px;height:30px;line-height:30px;position:relative}
.talkList  .replay{color:#118DD0;}
.talkList .replay:hover{color:#eb6100}
.userface{position:absolute;left:0;top:0}

.ltAd{padding:20px 0 30px}

.userPublish{padding-bottom:50px}
.userPublish h3{margin-bottom:20px;background-repeat: no-repeat;height:27px;background-position: 0 -238px}
.userPublishList li{margin-bottom:15px;height: 54px;padding-left: 60px}
.userPublishList .userFace{margin-left: -60px}
.userPublishList .name{color:#118DD0;font-size:14px}
.userPublishList .name:hover{color:#eb6100}


/*****注册页**/
.regHeader,.regContent{width: 830px;margin: 0 auto;position: relative}
.regHeader{height: 75px;background: url('/images/dot_2_1.png') repeat-x 0 bottom;padding-top:25px}
.regLogo{background-position:0 0;width: 150px;background-repeat:  no-repeat;background-position: 0 0;height: 30px;display: block}
.regContent .step{height: 24px;width: 310px;position: absolute;top:-8px;padding-left: 20px;left:50px;background: url('/images/loginTopBg.png') no-repeat 0 -92px}
.regContent .step li{float: left;padding-right: 20px;}
.regContent .step li span{padding-left: 25px;position: relative;color:#999}
.regContent .step li span i{color: #FFF;display: block;position:absolute;left:0;top:-5px;font: 14px "Microsoft Yahei";height: 23px;line-height: 18px;text-align: center;width: 21px;background:url('/images/ltIcon.png') no-repeat -21px -63px}
.regContent .step li span.current{color: #333;font-weight: 700}
.regContent .step li span.current i{background-position: 0 -63px}

.regContent .main{padding:30px 0  0 40px;width: 570px}
.main .ruleContent{background-color: #FFF;border:1px solid #999;height: 100px;line-height: 18px;overflow:scroll;padding:0 10px 80px;width: 500px}
/**模式对话框的遮罩层**/
.ruleContent div{margin:30px 0}
.ruleContent h4{color: #666;font-size: 14px}
.ruleContent p{margin: 15px 0 0 24px}
.main .finishRead{margin: 5px 0}
.finishRead .finishCheckbox,.finishRead .finishText{cursor: pointer;float: left;height: 16px;width: 16px;line-height: 16px}
.finishRead .finishCheckbox{background: url('/images/form_tag.png') no-repeat -247px -104px;}
.finishRead .finishText{width: 500px;text-indent: 4px}
.main img{vertical-align: middle}
.main .itemBtn{margin-top: 15px}

/**********个人主页************/
.headerAfter{height: 50px;background:#D02772 }
.mainAfter{width: 900px;margin: 0 auto}
.logoAfter{background: url('/images/bg32.png') no-repeat -348px 7px;height: 50px;width: 80px;margin-right: 20px;}
.navAfter li{float: left;_display:inline}
.navAfter li a{display: block;color:#FFF;font:700 14px "Microsoft Yahei";height: 50px;line-height: 50px;padding:0 15px}
.navAfter li a.current,.navAfter li a:hover{background: #B8296A}

.larAfter{height: 50px;line-height: 50px}
.searchAfter{padding-top:12px}

.wrap900{width: 900px;margin: 0 auto}
.homeMain .homeHeader{height: 170px;position:relative}
/**center就是小于容器的体积的时候**/
.homeHeader .face{background:url('/images/pinkLoveNav.png') no-repeat 0 -114px;height:120px;left:-4px;padding:9px;top:21px;width:120px;position: absolute}
.homeHeader .userInfo{padding-left: 140px;width: 270px;padding-top: 30px}
.userInfo div{margin-bottom: 15px;font-size:14px}
.userInfo .nameAndOp{height: 30px;line-height: 28px;color:#333;}
.userInfo .userName{font: 24px "Microsoft Yahei";}
.userInfo .spaceBtn{height: 30px;line-height:30px;display: block;font-family: "Microsoft Yahei";color: #999}
.userInfo .userBasicInfo{color:#9D8A6C;font-size: 12px}
.userBasicInfo span{float: left;margin-right: 10px}
.homeNav .main{width: 594px}
.homeNav .allList li{margin-bottom:10px;padding:0 5px 0 55px;position: relative}
.allList .imgAllow{position: absolute;height: 13px;width: 7px;left: 50px;top:10px;background: url('/images/pinkLove_HomeBg.png') no-repeat -2943px 0}
.allList .imgIcon{width: 38px;height: 38px;background: url('/images/pinkLove_Logo.png') no-repeat 0 0;margin-left:-40px}


.allList .contentItem{border-radius: 10px;padding:10px 10px 20px;background:#FFF}
.allList .contentItem h3{font-size:12px}
.allList a{color:#C07B89}
.allList .contentText{padding:15px 0;color:#333;line-height: 20px;font-size: 13px}
.allList .opLeft{color:#A9A9A9}
.allList .opRight a{margin-right: 10px}
.allList .linkBtn{padding-left:18px;background:url('/images/icon.png') no-repeat -150px -146px;}

.homeNav .sidebar{width: 280px}
.sidebar .userMember{padding-right: 50px}
.userMember h3{font: 700 14px "Microsoft Yahei";padding:20px 0;color:#666}
.userMember h3 a{color:#C07B89}
.userMember h3 .count{font-size: 12px;font-weight: 500}
.userMember .userMemberList li{float:left;padding:0 8px 8px 0;_display:inline}
.userMemberList li a{display: block;border-radius: 3px;overflow:hidden}

.allList .comment{padding:0 3px 0 1px;background-color: #F2F2F2;box-shadow:0 2px 2px rgba(0,0,0,.25) inset;margin-top:10px;padding: 5px 15px}
.allList .comment .shareCommentBottom{padding:15px 0}
.shareCommentBottom textarea{border:1px solid #D0D0D0;box-shadow:inset 1px 1px 3px #E5E5E5;font-size: 12px;height: 70px;width: 410px}
.shareCommentBottom a{color:#FFF;}
.allList .comment .commentLoading{background-color: #E7E7E7;color:#999;height: 35px;line-height: 35px;text-align: center}
















/***私有对话框****/
.dialog{position:absolute;background:#FFF;left:200px;top:100px;z-index:199999}
.dialog .title{height:30px;line-height: 30px;font-weight: 700;padding-left:15px;font-size: 12px}
.dialog .content{padding-bottom: 25px}
.dialog .dClose{position: absolute;z-index:2;right:10px;top:5px;width: 20px;height: 20px;background: url('/images/icon.png') no-repeat -50px -306px}
.dialog .left{width:330px;background:url('/images/dot_2_1.png') repeat-y right 0}
.dialog .right{width:240px}
.dialog .item{padding-left:35px;margin-left:20px;display:inline;float:left;}
.dialog .loginItem{margin-top:15px}
.textareaItem{padding-top: 20px}
.item label{color:#000;display: block;font-size: 14px;height: 28px;line-height: 28px;margin-top:5px;overflow:hidden;font-family:"微软雅黑"}
.item .text{height: 30px;padding:0 4px}
.item .innerText{height: 17px;padding:4px 0;border:1px solid #ccc;border-radius: 2px;width: 200px}
.item .info{color: #808080;width: 400px;display: block;line-height: 2}
.dialog  .loginBtn{margin-right: 10px;_margin-right:7px}
.dialog .regBtn{margin-top:10px}