<!DOCTYPE html>
<html>
  <head>
    <title>猥琐是一种态度</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/website.css' />
    <script type="text/javascript" src="/javascripts/personalFrame.js"></script>
    <script type="text/javascript" src="/javascripts/website.js"></script>
    <script type="text/javascript">
                                            window.onload = function(){
                                               WebSite.init();
                                             };
    </script>
  </head>
  <body class="topBg">
    <div class="wrap">
     <% include loginbeforeheader.ejs %>
     <div class="banner">
        <div class="bannerLayout">
          <div class="layoutList">
             <a href="/" title="搜索引擎Lucene" target="_blank"><img src="/images/lucene.png" /></a>
             <a href="/" title="搜索引擎Lucene" target="_blank"><img src="/images/lucene.png" /></a>
             <a href="/" title="搜索引擎Lucene" target="_blank"><img src="/images/lucene.png" /></a>
          </div>
         </div>
           <div>
                     <a href="javascrpt:;" class="backBtn loginBgIcon" id="backBtn"></a>
                     <a href="javascrpt:;" class="nextBtn loginBgIcon" id="nextBtn"></a>
                </div>
       </div>
       <div class="wrap960">
             <div class="leftside fl clearfix">
               <div class="circle clearfix">
                       <h3 class="loginBgIcon"></h3>
                                                            <a href="/circle" class="more">全部圈子(5)</a>
                                                            <ul class="topCircleList clearfix">
                                                                <li class="fl">
                                                                  <a class="face fl" title="nodejs开发" href="/nodejs" target="_blank">
                                                                    <img src="/images/nodejs.png" width="75" height="75" />
                                                                  </a>
                                                                  <dl class="fr">
                                                                     <dt class="ch">
                                                                     <a title="nodejs开发" href="/nodejs" target="_blank">NodeJs开发</a>
                                                                     </dt>
                                                                     <dd>成员:49　收听:7</dd>
                                                                  </dl>
                                                                </li>

                                                                 <li class="fl">
                                                                                                             <a class="face fl" title="web前端开发" href="/web" target="_blank">
                                                                                                               <img src="/images/web.png" width="75" height="75" />
                                                                                                             </a>
                                                                                                             <dl class="fr">
                                                                                                                <dt class="ch">
                                                                                                                <a title="web前端开发" href="/web" target="_blank">web前端开发</a>
                                                                                                                </dt>
                                                                                                                <dd>成员:49　收听:7</dd>
                                                                                                             </dl>
                                                                                                           </li>

                                                                                                            <li class="fl">
                                                                                                                                                                                                   <a class="face fl" title="数据仓库" href="/database" target="_blank">
                                                                                                                                                                                                     <img src="/images/database.png" width="75" height="75" />
                                                                                                                                                                                                   </a>
                                                                                                                                                                                                   <dl class="fr">
                                                                                                                                                                                                      <dt class="ch">
                                                                                                                                                                                                      <a title="数据仓库" href="/database" target="_blank">数据仓库</a>
                                                                                                                                                                                                      </dt>
                                                                                                                                                                                                      <dd>成员:49　收听:7</dd>
                                                                                                                                                                                                   </dl>
                                                                                                                                                                                                 </li>
                                                                                    <li class="fl">
                                                                                                                               <a class="face fl" title="js开发" href="/js" target="_blank">
                                                                                                                                 <img src="/images/js.jpg" width="75" height="75" />
                                                                                                                               </a>
                                                                                                                               <dl class="fr">
                                                                                                                                  <dt class="ch">
                                                                                                                                  <a title="js开发" href="/js" target="_blank">js开发</a>
                                                                                                                                  </dt>
                                                                                                                                  <dd>成员:49　收听:7</dd>
                                                                                                                               </dl>
                                                                                                                             </li>
                                                                                     <li class="fl">
                                                                                                                                                                                             <a class="face fl" title="生活大爆炸" href="/life" target="_blank">
                                                                                                                                                                                               <img src="/images/life.png" width="75" height="75" />
                                                                                                                                                                                             </a>
                                                                                                                                                                                             <dl class="fr">
                                                                                                                                                                                                <dt class="ch">
                                                                                                                                                                                                <a title="生活大爆炸" href="/life" target="_blank">生活大爆炸</a>
                                                                                                                                                                                                </dt>
                                                                                                                                                                                                <dd>成员:49　收听:7</dd>
                                                                                                                                                                                             </dl>
                                                                                                                                                                                           </li>

                                                             </ul>
               </div>
               <div class="share clearfix">
                  <h3 class="loginBgIcon"></h3>
                  <div class="tab classfix">
                   <ul>
                     <li class="current">
                       <a href="/nodejs" title="nodejs开发">nodejs</a>
                     </li>
                     <li>
                           <a href="/web" title="web前端开发">web前端开发</a>
                   </li>
                   <li>
                                             <a href="/database" title="数据仓库">数据仓库</a>
                                     </li>
                       <li>
                                                 <a href="/js" title="js开发">js开发</a>
                                         </li>
                       <li>
                                                 <a href="/life" title="生活大爆炸">生活大爆炸</a>
                                         </li>
                   </ul>
                  </div>
                  <div class="shareList clearfix">
                    <div class="excerpt fl">
                       <a class="note" href="/nodejs/hde89ssadf349349" title="nodejs教程" target="_blank">request.getRemoteAddr() 这个是java自带的方法可以取到IP地址，但是有的是通过代理的就取不到真实IP了，用以下方法就欧儿了</a>
                       <div class="title">
                         <a class="userImage" href="/username/234099045" target="_blank" title="希望在前方">
                           <!--假如用户没有上传图片就用默认的图片-->
                            <img src="/images/defaultuser.png" width="30" height="30" />
                         </a>
                         <h2>
                           <a href="/username/234099045" target="_blank" title="JAVA获取真实IP地址">NodeJs获取真实IP地址</a>
                         </h2>
                       </div>
                    </div>
                      <div class="excerpt fl">
                                           <a class="note" href="/nodejs/hde89ssadf349349" title="nodejs教程" target="_blank">request.getRemoteAddr() 这个是java自带的方法可以取到IP地址，但是有的是通过代理的就取不到真实IP了，用以下方法就欧儿了</a>
                                           <div class="title">
                                             <a class="userImage" href="/username/234099045" target="_blank" title="希望在前方">
                                               <!--假如用户没有上传图片就用默认的图片-->
                                                <img src="/images/defaultuser.png" width="30" height="30" />
                                             </a>
                                             <h2>
                                               <a href="/username/234099045" target="_blank" title="JAVA获取真实IP地址">NodeJs获取真实IP地址</a>
                                             </h2>
                                           </div>
                                        </div>
                                          <div class="excerpt fl">
                                                               <a class="note" href="/nodejs/hde89ssadf349349" title="nodejs教程" target="_blank">request.getRemoteAddr() 这个是java自带的方法可以取到IP地址，但是有的是通过代理的就取不到真实IP了，用以下方法就欧儿了</a>
                                                               <div class="title">
                                                                 <a class="userImage" href="/username/234099045" target="_blank" title="希望在前方">
                                                                   <!--假如用户没有上传图片就用默认的图片-->
                                                                    <img src="/images/defaultuser.png" width="30" height="30" />
                                                                 </a>
                                                                 <h2>
                                                                   <a href="/username/234099045" target="_blank" title="JAVA获取真实IP地址">NodeJs获取真实IP地址</a>
                                                                 </h2>
                                                               </div>
                                                            </div>
                     <div class="excerpt fl">
                                           <a class="note" href="/nodejs/hde89ssadf349349" title="nodejs教程" target="_blank">request.getRemoteAddr() 这个是java自带的方法可以取到IP地址，但是有的是通过代理的就取不到真实IP了，用以下方法就欧儿了</a>
                                           <div class="title">
                                             <a class="userImage" href="/username/234099045" target="_blank" title="希望在前方">
                                               <!--假如用户没有上传图片就用默认的图片-->
                                                <img src="/images/defaultuser.png" width="30" height="30" />
                                             </a>
                                             <h2>
                                               <a href="/username/234099045" target="_blank" title="JAVA获取真实IP地址">NodeJs获取真实IP地址</a>
                                             </h2>
                                           </div>
                                        </div>
                  </div>
               </div>
             </div>
             <div class="rightside fr">
                   <% include talk.ejs %>
                   <div class="ltAd" id="ltAd">
                       <ul>
                        <li class="mb-10">
                          <a  target="_blank" title="搜索引擎" href=""><img src="/images/lucene250.png" alt="搜索引擎Lucene" width="250" height="85" /></a>
                        </li>
                         <li class="mb-10">
                                                  <a target="_blank" title="探秘JavaScript框架" href=""><img src="/images/js250.png" alt="探秘JavaScript框架" width="250" height="85" /></a>
                                                </li>
                                                  <li class="mb-10">
                                                                                                  <a target="_blank" title="CSS跨浏览器" href=""><img src="/images/css250.png" alt="CSS跨浏览器" width="250" height="85" /></a>
                                                                                                </li>
                       </ul>
                   </div>
                   <% include publish.ejs %>
             </div>
       </div>
    </div>
    <script type="text/javascript">

    </script>
  </body>
</html>