<div class="header">
          <a href="/" class="logo fl" title="扯时间登录页">
            <h1 class="pullTime">扯时间</h1>
            <div class="domain">chetime.com</div>
            <span class="beta">beta</span>
          </a>
          <span class="logan fl">扯是一种态度</span>
          <ul class="nav fl">
            <li><a href="/" title="首页">首页</a></li>
            <li class="span loginBgIcon"></li>
            <li><a href="/myIndex" title="我的首页">我的首页</a></li>
             <li class="span loginBgIcon"></li>
            <li><a href="/ring" title="圈子">圈子</a></li>
             <li class="span loginBgIcon"></li>
            <li><a href="/talent" title="达人">达人</a></li>
             <li class="span loginBgIcon"></li>
            <li><a href="/someone" title="找人">找人</a></li>
          </ul>
          <div class="lar fr">
                    <a href="javascript:;" id="login">登录</a>
                    <a href="/reg.html" id="reg">注册</a>
          </div>
          <div class="search fr">
                             <form action="/search" method="post">
                               <input type="text" class="searchText bra3 fl" id="searchText" name="searchText" />
                               <input type="submit" value="" class="searchBtn ltIcon bra3 fl" />
                             </form>
                    </div>
</div>