<div class="headerAfter">
        <div class="mainAfter clearfix">
               <a class="logoAfter fl" href="/" title="扯时间主页"></a>
               <div class="navAfter fl">
                <ul>
                  <li> <a href="/" class="current">首页</a></li>
                  <li> <a href="/">我的首页</a></li>
                   <li> <a href="/">圈子</a></li>
                    <li> <a href="/">达人</a></li>
                     <li> <a href="/">找人</a></li>
                </ul>
               </div>
               <div class="lar larAfter fr">
                     <a href="javascript:;" id="login">登录</a>
                     <a href="/reg.html" id="reg">注册</a>
               </div>
               <div class="search searchAfter fr">
                 <form action="/search" method="post">
                  <input id="searchText" class="searchText bra3 fl" type="text" name="searchText" />
                  <input class="searchBtn ltIcon bra3 fl" type="submit" value="" />
                 </form>
               </div>

        </div>
</div>