<div class="userPublish">
       <h3 class="loginBgIcon"></h3>
       <ul class="userPublishList clearfix">
                          <li>
                           <a href="#" title="用户名" target="_blank" class="userFace fl"><img src="/images/userimage/179.jpg" width="50" height="50" /></a>
                           <a href="#" title="用户名" target="_blank" class="name">贱男春</a>
                           <p>
                            天天上QQ,有没有考虑过QQ的感受?
                           </p>
                          </li>
                            <li>
                                                     <a href="#" title="用户名" target="_blank" class="userFace fl"><img src="/images/userimage/179.jpg" width="50" height="50" /></a>
                                                     <a href="#" title="用户名" target="_blank" class="name">贱男春</a>
                                                     <p>
                                                      天天上QQ,有没有考虑过QQ的感受?
                                                     </p>
                                                    </li>
                                                      <li>
                                                                               <a href="#" title="用户名" target="_blank" class="userFace fl"><img src="/images/userimage/179.jpg" width="50" height="50" /></a>
                                                                               <a href="#" title="用户名" target="_blank" class="name">贱男春</a>
                                                                               <p>
                                                                                天天上QQ,有没有考虑过QQ的感受?
                                                                               </p>
                                                                              </li>
       </ul>
</div>