<div class="talk">
 <h3 class="loginBgIcon"></h3>
 <form method="POST" action="/talk">
 <div class="talkForm clearfix">
  <textarea id="talkContent" class="fl"></textarea>
  <input type="submit" value="" class="formBtn loginBgIcon fl" />
 </div>
 <ul class="talkList">
  <li class="clearfix">
 <a href="/username/" title="用户名" target="_blank" class="userface"><img src="/images/userimage/179.jpg" width="30" height="30" /></a>
偶尔搞搞基，打打泡，撸撸管 <a href="" class="replay ml-10">回复(2)</a>
  </li>
  <li class="clearfix">
   <a href="/username/" title="用户名" target="_blank" class="userface"><img src="/images/userimage/179.jpg" width="30" height="30" /></a>
  偶尔搞搞基，打打泡，撸撸管 <a href="" class="replay ml-10">回复(2)</a>
    </li>
     <li class="clearfix">
     <a href="/username/" title="用户名" target="_blank" class="userface"><img src="/images/userimage/179.jpg" width="30" height="30" /></a>
    偶尔搞搞基，打打泡，撸撸管 <a href="" class="replay ml-10">回复(2)</a>
      </li>
 </ul>
 </form>
</div>